body {
	overflow: hidden;

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.card {
	margin: 0.15em auto;

	width: 60%;
	height: 6em;

	background-color: #ffe9d0;
}

.focused {
	border: 1px solid red;	
}